@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.btnlist{
  width: 100%;
  text-align: left;
  font-weight: 500;
  margin-bottom: 5px;
}
.alignLeft {
  text-align: left;
  font-weight: bold;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Adjust CSS*/

/*
  : Header
--------------------*/

#mainHeader {
  background: #fff;
  color: #000;
  text-align: left;
  display: flow-root;
  overflow: hidden;
}

#mainHeader > h1 {margin-bottom: 0!important;}


/*
  : Section
--------------------*/
#leftSection,
#itemList,
#displayArea {
  padding: 1em;
}

/*
  : Left Section
--------------------*/
#leftSection {background: #fff!important;}

.ant-tabs.ant-tabs-left.ant-tabs-vertical.ant-tabs-line {overflow: visible;}
.ant-tabs-content.ant-tabs-content-animated {position: relative; left: 0px; top:-147px; border-left: 0!important;}
.ant-tabs-tab-active {background: #ccc; color: #000!important;}

.ant-tabs-tabpane-active > .groupList {background: #ccc;}


#innerSectionWrapper {}
#innerSectionWrapper > .ant-tabs-vertical.ant-tabs-left>.ant-tabs-content {padding-left: 0;}

.groupList {width: 20%; display: block; float: left; padding: 15px; min-height: 600px;}
.groupList > ul {list-style-type: none; padding-left: 0;}
.groupDisplayItems {width: 75%; display: block; float: right;}


/*
  : Display
--------------------*/
#displayArea {background: #fff; text-align: left;}

/*
  : Card Component
--------------------*/
.cardTextWrapper {position: relative; clear: both; margin-top: 30px;}
.cardTextWrapper {position: relative;}
.cardInnerWrapper > textarea {padding: 1em;}

#addComponentWrapper {margin-top: 30px;}

.cardTextInnerWrapper {position: relative; display: block; clear: both; margin-bottom: 1em;}
.cardTextInnerWrapper > textarea {width: 90%;}
ul#cardTextControl {position: absolute; top: -13px; right: 22px; z-index: 9999; font-size: 18px; color: #000;}
ul#cardTextControl > li {display: inline-block;}


.cardTextWrapper > .ant-row > ul {list-style-type: none; padding-left: 0;}




ul#listAaddComponent {list-style-type: none; padding-left: 0;}
ul#listAaddComponent > li {float: left;}
ul#listAaddComponent > li > button {text-align: center; border-radius: 0 !important; height: auto!important; padding: 10px; font-size: 18px; font-weight: bold;}
ul#listAaddComponent > li > button > i {clear: both; display: block;}




/*
  : Photo
--------------------*/
#companyPhoto {width: 120px; display: block; overflow: hidden;}
#companyPhoto > div > .ant-card-body {padding: 5px!important;}
#companyPhoto > div > .ant-card-body > img {width: 100%;}

/*
  : Save All
--------------------*/
#saveAll {display: block; clear: both; margin: 15px 0;}
